language: elixir
elixir:
  - 1.3.0
otp_release:
  - 19.0
  - 18.3
branches:
  only:
    - "master"
    - "develop"
script:
  - MIX_ENV=test mix compile --warnings-as-errors && MIX_ENV=test mix test
  - MIX_ENV=test_phoenix mix compile --warnings-as-errors && MIX_ENV=test_phoenix mix test
