language: elixir
elixir:
  - 1.3.0
  - 1.4.0
  - 1.5.1
otp_release:
  - 19.0
  - 18.3
branches:
  only:
    - "master"
    - "develop"
    - "phoenix-pre"
script:
  - MIX_ENV=test mix compile --warnings-as-errors && MIX_ENV=test mix test
  - MIX_ENV=test_phoenix mix compile --warnings-as-errors && MIX_ENV=test_phoenix mix test
  - MIX_ENV=test_no_nif mix compile --warnings-as-errors && MIX_ENV=test_no_nif mix test

matrix:
  allow_failures:
    - elixir: 1.5.1
